
#courses section {
  float: left;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.small, small {
  font-size: 80%;
}

.pull-right {
  float: right;
}

.text-muted {
  color: #848484;
}

li #course {
  display: list-item;
}

.center {
  text-align: center;
}

.info-summary {
  width:500px;
  text-align: justify;
  display: inline-block;
}

.course {
  padding: 0.85rem 1.25rem;
  border: 1px solid #eee;
}

.course:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.course:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.course + .course {
  margin-top: -1px;
}
