
footer {
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background-color: #5d9dab;
  color: white;
}

body {
  margin-bottom: 50px;
}

html {
    position: relative;
    min-height: 100%;
}
