
/* Top navigation bar */

ul {
  list-style: none;
  display: inline;
}

a {
    text-decoration: none !important;
    color: white;
    padding: 0px 10px;
}

.navbar {
  overflow: hidden;
  background-color: #2b7ccf;
  position: fixed; /* Fix the navbar position */
  top: 0; /* Position navbar at top of page */
  width: 100%; /* Full width */
  padding: 5px;
  float: right;
}

.navbar .leftHeader {
  float: left;
}

.navbar .rightHeader {
  float: right;
}
