
#my-github-projects .list-group {

}

#my-github-projects .list-group .list-group-item {

}

#my-github-projects {
  text-align: center;
}

#my-github-projects li {
  display:inline-grid;
  text-align: left;
}

/*
.repo-item {
  padding: .85rem 1.25 rem;
  border: 1px solid #eee;
}
*/
