
#work a, #work a:visited  { color: #313131; }
#work a:hover, #work a:focus { color: #11ABB0; }

#left_column {
     float: left;
     position: absolute;
}

#work h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}
#work h1 span {
   border-bottom: 3px solid #11ABB0;
   padding-bottom: 6px;
}
#work h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
}

#work .info {
   font: 15px/24px 'librebaskerville-regular', sans-serif;
   color: #6E7881;
   margin-bottom: 18px;
   margin-top: 9px;
}
#work .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#work .info-summary {
   font: 15px/24px 'librebaskerville-regular', sans-serif;
   margin-top: 6px;
}
#work .date {
   font: 15px/24px 'librebaskerville-regular', sans-serif;
   margin-top: 6px;
}
#work .point {
   margin: 0 0 10px 0;
}
.bullet-point {
  font-size: 140%;
  vertical-align: middle;
}

/*
.point {
    width: 200px;
  text-align: justify;
  display: inline-block;
}
*/
