
/* Top navigation bar */

.navbar {
  overflow: hidden;
  background-color: #2b7ccf;
  position: fixed; /* Fix the navbar position */
  top: 0; /* Position navbar at top of page */
  width: 100%; /* Full width */
}

/* Links inside navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
